<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Emotional Chatbot</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <!-- <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.1/css/all.css'> -->
  <!-- FontAwesome -->
  <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="chat-wrapper">
  <div id="chat-bot-mood">
    <div id="chat-bot-mood-icon"></div>
    <div id="chat-bot-mood-label">
      <h1 id="chat-bot-mood-text">Chatbot is feeling</h1>
      <h1 id="chat-bot-mood-value">Mood</h1>
    </div>
  </div>
  <div id="letter-pool"></div>
  <div id="temp-letter-pool"></div>
  <div id="letter-overlay"></div>
  <div id="chat-message-window">
    <div id="message-input-wrapper">
      <div id="message-input">
        <input id="final_span" type="text" placeholder="Type a message" maxlength="100"/>
        <div id="send-message-button"><i class="far fa-arrow-alt-circle-right"></i></div>
        <div onclick="startButton(event);" id="send-audio-message-button"><i id="start_button" class="fas fa-microphone-alt"></i></div>
      </div>
    </div>
    <div class="scroll-bar" id="chat-message-column-wrapper">
      <div class="static" id="chat-message-column"></div>
    </div>
  </div>
</div>
<!-- partial -->
<!-- <script src='https://codepen.io/TheVVaFFle/pen/0299c8b36352c72cbfe8df48b47b54ca.js'></script> -->
<script  src="{{ url_for('static', filename='extra.js') }}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script  src="{{ url_for('static', filename='script.js') }}"></script>
<script>

var create_email = false;
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  start_button.style.display = 'inline-block';
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = true;

  recognition.onstart = function() {
    recognizing = true;
    console.log('strat');
    // showInfo('info_speak_now');
    // start_img.src = '/intl/en/chrome/assets/common/images/content/mic-animate.gif';
  };

  recognition.onerror = function(event) {
    console.log('error');
    if (event.error == 'no-speech') {
      // start_img.src = '/intl/en/chrome/assets/common/images/content/mic.gif';
      // showInfo('info_no_speech');
      ignore_onend = true;
    }
    if (event.error == 'audio-capture') {
      // start_img.src = '/intl/en/chrome/assets/common/images/content/mic.gif';
      // showInfo('info_no_microphone');
      ignore_onend = true;
    }
    if (event.error == 'not-allowed') {
      if (event.timeStamp - start_timestamp < 100) {
        // showInfo('info_blocked');
      } else {
        // showInfo('info_denied');
      }
      ignore_onend = true;
    }
  };

  recognition.onend = function() {
    removeAudioInput();
    recognizing = false;
    if (ignore_onend) {
      return;
    }
    // start_img.src = '/intl/en/chrome/assets/common/images/content/mic.gif';
    if (!final_transcript) {
      // showInfo('info_start');
      return;
    }
    // showInfo('');
    if (window.getSelection) {
      // window.getSelection().removeAllRanges();
      // var range = document.createRange();
      // range.selectNode(document.getElementById('final_span'));
      // window.getSelection().addRange(range);
      sendUserMessage();
      toggleInput();
      clearInputField();
    }
    if (create_email) {
      create_email = false;
      // createEmail();
    }
  };

  recognition.onresult = function(event) {
    console.log('result');
    var interim_transcript = '';
    if (typeof(event.results) == 'undefined') {
      recognition.onend = null;
      recognition.stop();
      upgrade();
      return;
    }
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    final_transcript = capitalize(final_transcript);
    final_span.value = linebreak(final_transcript);
    // final_span.innerHTML = linebreak(interim_transcript);
    if (final_transcript || interim_transcript) {
      // showButtons('inline-block');
    }
  };
}

function upgrade() {
  start_button.style.visibility = 'hidden';
  // showInfo('info_upgrade');
}

var two_line = /\n\n/g;
var one_line = /\n/g;
function linebreak(s) {
  return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
}

var first_char = /\S/;
function capitalize(s) {
  return s.replace(first_char, function(m) { return m.toUpperCase(); });
}

function createEmail() {
  var n = final_transcript.indexOf('\n');
  if (n < 0 || n >= 80) {
    n = 40 + final_transcript.substring(40).indexOf(' ');
  }
  var subject = encodeURI(final_transcript.substring(0, n));
  var body = encodeURI(final_transcript.substring(n + 1));
  window.location.href = 'mailto:?subject=' + subject + '&body=' + body;
}

function copyButton() {
  if (recognizing) {
    recognizing = false;
    recognition.stop();
  }
  copy_button.style.display = 'none';
  copy_info.style.display = 'inline-block';
  // showInfo('');
}

function emailButton() {
  if (recognizing) {
    create_email = true;
    recognizing = false;
    recognition.stop();
  } else {
    createEmail();
  }
  email_button.style.display = 'none';
  email_info.style.display = 'inline-block';
  // showInfo('');
}

function startButton(event) {
  enableAudioInput();
  if (recognizing) {
    recognition.stop();
    return;
  }
  final_transcript = '';
  recognition.lang = 'en-US';
  recognition.start();
  ignore_onend = false;
  final_span.innerHTML = '';
  // interim_span.innerHTML = '';
  // start_img.src = '/intl/en/chrome/assets/common/images/content/mic-slash.gif';
  // showInfo('info_allow');
  // showButtons('none');
  start_timestamp = event.timeStamp;
}

function showInfo(s) {
  if (s) {
    for (var child = info.firstChild; child; child = child.nextSibling) {
      if (child.style) {
        child.style.display = child.id == s ? 'inline' : 'none';
      }
    }
    info.style.visibility = 'visible';
  } else {
    info.style.visibility = 'hidden';
  }
}

var current_style;
function showButtons(style) {
  if (style == current_style) {
    return;
  }
  current_style = style;
  copy_button.style.display = style;
  email_button.style.display = style;
  copy_info.style.display = 'none';
  email_info.style.display = 'none';
}
    
</script>
</body>
</html>
